@using Sig.App.Backend.Helpers

@model Sig.App.Backend.EmailTemplates.Models.CreatedCardPdfEmail
@{ Layout = "_EmailLayout.cshtml"; }

<p>
    Bonjour,
    Voici une copie du fichier d'impression des cartes générées.
</p>
<br />
<p>
    Hello,
    Here is a copy of the generated print file.
</p>