@using Sig.App.Backend.Helpers

@model Sig.App.Backend.EmailTemplates.Models.CreatedCardPdfEmail
@{ Layout = "_EmailLayout.cshtml"; }

<p>
    Bonjour,
    Voici une copie du fichier d'impression des cartes générées.
</p>
<p>
    Si vous ne souhaitez plus recevoir de courriels, vous pouvez vous désabonner en cliquant ici : <a clicktracking="off" href="@Model.BaseUrl/@UrlHelper.UnsubscribeFromEmail(Sig.App.Backend.DbModel.Enums.EmailOptIn.CreatedCardPdfEmail)">Se désabonner</a>
</p>
<br />
<p>
    Hello,
    Here is a copy of the generated print file.
</p>
<p>
    If you no longer wish to receive emails, you can unsubscribe by clicking here : <a clicktracking="off" href="@Model.BaseUrl/@UrlHelper.UnsubscribeFromEmail(Sig.App.Backend.DbModel.Enums.EmailOptIn.CreatedCardPdfEmail)">Unsubscribe</a>
</p>