@using Sig.App.Backend.Helpers

@model Sig.App.Backend.EmailTemplates.Models.MarketGroupManagerInviteEmail
@{ Layout = "_EmailLayout.cshtml"; }

<p>
    Bonjour,
</p>
<p>
    Nous vous accueillons avec joie en tant que groupe marchand chez @Model.MarketGroupName!
</p>
<p>
    <a clicktracking="off" href="@Model.BaseUrl/@UrlHelper.RegistrationMarketGroupManager(Model.To, Model.InviteToken)">Ouvrir votre compte</a>
</p>
<br />
<p>
    Hello,
</p>
<p>
    We gladly welcome you as a merchant group at @Model.MarketGroupName!
</p>
<p>
    <a clicktracking="off" href="@Model.BaseUrl/@UrlHelper.RegistrationMarketGroupManager(Model.To, Model.InviteToken)">Open your account</a>
</p>