@using Sig.App.Backend.Helpers
@using System.Globalization
@using Sig.App.Backend.Constants

@model Sig.App.Backend.EmailTemplates.Models.MonthlyCardBalanceReportEmail
@{ Layout = "_EmailLayout.cshtml"; }

<p>
    Bonjour,
    Voici le rapport mensuel des cartes pour le programme @Model.Project.Name
</p>
<p>
    Si vous ne souhaitez plus recevoir de courriels, vous pouvez vous désabonner en cliquant ici : <a clicktracking="off" href="@Model.BaseUrl/@UrlHelper.UnsubscribeFromEmail(Sig.App.Backend.DbModel.Enums.EmailOptIn.MonthlyCardBalanceReportEmail)">Se désabonner</a>
</p>
<br />
<p>
    Hello,
    Here is the monthly cards report for the @Model.Project.Name program
</p>
<p>
    If you no longer wish to receive emails, you can unsubscribe by clicking here : <a clicktracking="off" href="@Model.BaseUrl/@UrlHelper.UnsubscribeFromEmail(Sig.App.Backend.DbModel.Enums.EmailOptIn.MonthlyCardBalanceReportEmail)">Unsubscribe</a>
</p>