@using Sig.App.Backend.Helpers

@model Sig.App.Backend.EmailTemplates.Models.NewMarketAssignedEmail
@{ Layout = "_EmailLayout.cshtml"; }

<p>
    Bonjour,
</p>
<p>
    Nous vous accueillons avec joie en tant que marchand chez @Model.MarketName!
</p>
<p>
    <a clicktracking="off" href="@Model.BaseUrl">Accéder à votre compte Tomat</a>
</p>
<br />
<p>
    Hello,
</p>
<p>
    We gladly welcome you as a merchant at @Model.MarketName!
</p>
<p>
    <a clicktracking="off" href="@Model.BaseUrl">Access your Tomat account</a>
</p>