@using Sig.App.Backend.Helpers

@model Sig.App.Backend.EmailTemplates.Models.NewOrganizationAssignedEmail
@{ Layout = "_EmailLayout.cshtml"; }

<p>
    Bonjour,
</p>
<p>
    Nous vous accueillons avec joie en tant que gestionnaire chez @Model.OrganizationName!
</p>
<p>
    <a clicktracking="off" href="@Model.BaseUrl">Accéder à votre compte Tomat</a>
</p>
<br />
<p>
    Hello,
</p>
<p>
    We welcome you as a manager at @Model.OrganizationName!
</p>
<p>
    <a clicktracking="off" href="@Model.BaseUrl">Access your Tomat account</a>
</p>