@using Sig.App.Backend.Helpers

@model Sig.App.Backend.EmailTemplates.Models.ResetPasswordEmail
@{ Layout = "_EmailLayout.cshtml"; }

<p>
    Bonjour,
</p>
<p>
    Nous avons reçu une demande de réinitialisation de mot de passe pour votre compte.
</p>
<p>
    Si vous n'avez pas fait cette demande, vous pouvez ignorer ce courriel.
</p>

<p>
    <a href="@Model.BaseUrl/@UrlHelper.ResetPassword(Model.To, Model.Token)">Réinitialiser mon mot de passe</a>
</p>
<br />
<p>
    Hello,
</p>
<p>
    We received a password reset request for your account.
</p>
<p>
    If you have not made this request, you can ignore this email.
</p>

<p>
    <a href="@Model.BaseUrl/@UrlHelper.ResetPassword(Model.To, Model.Token)">Reset my password</a>
</p>